################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Notes/.vs
/Notes/Notes/bin/Debug/net8.0
/Notes/Notes/obj
/Notes/WebAPI/bin/Debug/net8.0
/Notes/WebAPI/obj
/Notes/WebClient/bin/Debug/net8.0
/Notes/WebClient/obj
/Notes/DataService/bin/Debug/net8.0
/Notes/DataService/bin/Release/net8.0
/Notes/DataService/obj
/Notes/Notes.DataService/bin
/Notes/Notes.DataService/obj
/Notes/Notes.WebAPI/bin/Debug/net8.0
/Notes/Notes.WebAPI/obj
/Notes/Notes.WebClient/bin/Debug/net8.0
/Notes/Notes.WebClient/obj
/Notes/Notes.DI/bin/Debug/net8.0
/Notes/Notes.DI/obj
/Notes/Notes.Model/bin/Debug/net8.0
/Notes/Notes.Model/obj
